<section class="food-section">

    <div class="min-header">
        <button class="back-button" (click)="goBack()"> < </button>
    </div>
    <div class="food-profile-content">
        <img class = "food-image" src="/images/profile-user.webp" alt="">
        <div class="food-info">
            <div class="food-title">
                <span>{{this.foodItem.name}}</span>
            </div>

            <div class="stats-container">
                <div class="stats-content">
                    <div class="calories-group">
                        <span style="font-size: xx-large;">{{this.foodItem.calories}}</span>
                        <span>calories</span>
                    </div>
                    <div style="display: flex; width: 100%; background-color: white; gap: 1rem;">
                        <div style="flex-grow: 1;">
                            <app-donut-chart [data] = "donutChartData" />
                           
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <span style="color: #4F95FF;">Carbs</span>
                            <span style="color: #FD3131;">Fat</span>
                            <span style="color: #86BD2D;">Protein</span>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <span>{{(this.foodItem.carbs*100 / total).toFixed(2)}}%</span>
                            <span>{{(this.foodItem.fat*100 / total).toFixed(2)}}%</span>
                            <span>{{(this.foodItem.protein*100 / total).toFixed(2)}}%</span>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <span >{{this.foodItem.carbs}}g</span>
                            <span>{{this.foodItem.fat}}g</span>
                            <span>{{this.foodItem.protein}}g</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-food-item">
                <span>Serving Size</span>
                <span class="number-detail">100g</span>
            </div>
            <div class="info-food-item">
                <span>Carbs</span>
                <span class="number-detail">{{this.foodItem.carbs}}g</span>
            </div>
            <div class="info-food-item">
                <span>Fat</span>
                <span class="number-detail">{{this.foodItem.fat}}g</span>
            </div>
            <div class="info-food-item">
                <span>Protein</span>
                <span class="number-detail">{{this.foodItem.protein}}g</span>
            </div>

            <div class="food-footer">

            </div>

            
        </div>
    </div>

</section>

