<section>
    <div class="user-header">
        <div class="background-header "></div>
        <div class="user-image"></div>
    </div>
    <div class="profile-card-width"></div>
    <div class="side-info-container">
        <span class="profile-username">{{user?.username}}</span>
        <span>Joined: {{user?.username}}</span>
        <span>Name: {{user?.firstname + " " + user?.lastname}}</span>
        <span>Goal: {{user?.plan}}</span>
        <a *ngIf="userStored.username==user?.username" style="background-color: #88BB49 ;padding: 1rem; border-radius: 50px; color: white; font-size: large;" [routerLink]="['/free-trial']">Upgrade Account</a>

        
    </div>

</section>