

<div class="plan-container">
  <div *ngIf="plan" class="plan-details">
    <h1 class="plan-name">{{ plan.name }}</h1>

    <p class="plan-description">{{ plan.description }}</p>

    <p class="plan-category">Categoría: {{ plan.category }}</p>

    <ng-container *ngIf="plan.saved">
      <button class="delete-button" (click)="deletePlan()">Eliminar</button>
    </ng-container>

    <div class="week-day-selector">
      <div class="week-selector">
        <label for="week">Semana</label>
        <select id="week"  [(ngModel)]="selectedWeek">
          <option value="" disabled selected>Seleccione una semana</option>
          <option *ngFor="let weekIndex of getRange(plan.weeks.length)" [value]="weekIndex">
            Semana {{ weekIndex + 1 }}
          </option>
        </select>
      </div>

      <div class="day-selector">
        <label for="day">Día</label>
        <select id="day" [(ngModel)]="selectedDayIndex">
          <option value="" disabled selected>Seleccione un día</option>
          <option *ngFor="let i of getRange(plan.weeks[this.selectedWeek!].days.length)" [value]=i>
            Día {{ i + 1 }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="selectedWeek!==undefined && selectedDayIndex !== undefined" class="meals-container">
      <app-meal-detail mealType="breakfast" [meal]="plan.weeks[this.selectedWeek].days[this.selectedDayIndex].breakfast" [editable]="plan.saved" [weekIndex]="this.selectedWeek" [dayIndex]="this.selectedDayIndex" [planId]="this.plan.id"></app-meal-detail>
      <app-meal-detail mealType="lunch" [meal]="plan.weeks[this.selectedWeek].days[this.selectedDayIndex].lunch" [editable]="plan.saved"  [weekIndex]="this.selectedWeek" [dayIndex]="this.selectedDayIndex" [planId]="this.plan.id"></app-meal-detail>
      <app-meal-detail mealType="snack" [meal]="plan.weeks[this.selectedWeek].days[this.selectedDayIndex].snack" [editable]="plan.saved"  [weekIndex]="this.selectedWeek" [dayIndex]="this.selectedDayIndex" [planId]="this.plan.id"></app-meal-detail>
      <app-meal-detail mealType="dinner" [meal]="plan.weeks[this.selectedWeek].days[this.selectedDayIndex].dinner" [editable]="plan.saved" [weekIndex]="this.selectedWeek" [dayIndex]="this.selectedDayIndex" [planId]="this.plan.id"></app-meal-detail>
    </div>

  </div>

  <button (click)="goToSavedPlans()" class="back-button">Volver a Mis Planes Guardados</button>
</div>

