
<div class="meal-details" [ngClass]="{ 'open': isOpen }">
  <div class="header" (click)="toggleAccordion()">
    <h3>{{ mealType }}</h3>
  </div>
  <div class="content">
    <div *ngFor="let food of meal; let i = index" style="display: flex; flex-direction: column; align-items: center;">
      <div style="display: flex; justify-content: space-between; width: 90%;">
        <span>{{ food.name }}</span>
        <span>{{ food.grams }}g</span>
      </div>
    </div>
    <button *ngIf="this.editable" style="border: none; background-color: transparent; color: #88BB49; font-size: large; cursor: pointer;"
      (click)="goToAdd()"
    >Añadir +</button>
  </div>
</div>

