<link rel="stylesheet" href="free-trial.component.css">
<section id="free-trial">
  <div class="container">
    <h2>Suscríbete y obtén acceso a</h2>
    <h2> una prueba gratuita por 1 mes </h2>
    <div class="button-group">
      <button class="trial-button" disabled>Plan actual: Básico</button>
      <button class="trial-button" (click)="navigateToSubscription()">¡Pruebalo ya!</button>
    </div>
    <p class="small-text">Gratis durante 1 mes. Luego, 15,99 PEN al mes. Oferta disponible solo si no has probado Premium. <a href="#">Consulta las condiciones.</a></p>
    <h3>Experimenta funcionalidades exclusivas y sin anuncios</h3>
    
    <p>Paga de varias formas. Cancela cuando quieras.</p>
    <div class="payment-methods">
      <img src="\images\Visa.png" alt="Visa">
      <img src="\images\MasterCard.jpg" alt="MasterCard">
      <img src="\images\American_Express.png" alt="American Express">
  </div>
    <h4>Los planes Premium incluyen</h4>
    <ul>
      <li>✓Cantidad ilimitada de trackers</li>
      <li>✓No contiene anuncios</li>
      <li>✓Acceso exclusivo para la comunidad</li>
    </ul>
  </div>
</section>

 