/* Contenedor principal */
#exploredPlans {
  max-width: 800px; /* Ajusta este valor según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade espacio alrededor del contenedor */
  position: relative; /* Para posicionar la flecha relativa al contenedor */
}

/* Flecha de volver */
.back_arrow {
  position: absolute;
  top: 20px; /* Ajusta según tus necesidades */
  left: 20px; /* Ajusta según tus necesidades */
  cursor: pointer;
}

.back_arrow img {
  width: 24px; /* Ajusta el tamaño según tus necesidades */
  height: 24px; /* Ajusta el tamaño según tus necesidades */
}

/* Tipografía */
h2 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  color: #000000; /* Text #000000 */
  text-align: center; /* Centra el título */
}

.plan_item {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px; /* Aumenta el espacio interno */
  border-bottom: 1px solid #E0E0E0; /* Assuming a light grey for the border */
  font-family: 'Inria Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
}

.plan_link {
  text-decoration: none;
  color: #000000; /* Text #000000 */
}

.add_to_list {
  color: #0BA65A; /* Primary */
  cursor: pointer;
}

.add_to_list:hover {
  text-decoration: underline;
}

/* Aplicar estilo a la lista de planes explorados */
#exploredPlans ul {
  list-style-type: none;
  padding: 0;
}

#exploredPlans li {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px; /* Aumenta el espacio interno */
  border-bottom: 1px solid #E0E0E0; /* Assuming a light grey for the border */
  font-family: 'Inria Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
}

#exploredPlans li a {
  text-decoration: none;
  color: #000000; /* Text #000000 */
}

#exploredPlans .add_to_list {
  color: #0BA65A; /* Primary */
  cursor: pointer;
}

#exploredPlans .add_to_list:hover {
  text-decoration: underline;
}
